<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mybbs-borezhi.com</title>
<link rel="stylesheet" type="text/css" href="/static/mybbs/style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>


</head>
<body>
<div id="panelwrap">

	<div class="header">
    <div class="title"><a href="#">mybbs-borezhi.com</a></div>

    <div class="header_right">Welcome!  </div>

    <div class="menu">
    <ul>
    <li><a href="/" class="selected">Home Page</a></li>
    <li><a href="/list/">List</a></li>
    <li><a href="/write/">Add Post</a></li>

    </ul>
    </div>

    </div>



    <div class="center_content">

    <div id="right_wrap">
    <div id="right_content">
    <h2>Message</h2>


    <div id="tab2" class="tabcontent">
        <h3>Your info are as follows:</h3>
        <ul class="lists">
        <li>{{message}}</li>
        </ul>
    </div>




     </div>
     </div><!-- end of right content-->


    <div class="sidebar" id="sidebar">

    <h2>Welcome</h2>
    <div class="sidebar_section_text">
Wish you greater success!
    </div>


    <h2>Browse categories</h2>

        <ul>
           <li><a href="#" class="selected">ie</a></li>
            <li><a href="#">firefox</a></li>
            <li><a href="#">chrome</a></li>
            <li><a href="#">opera</a></li>
        </ul>



    </div>


    <div class="clear"></div>
    </div> <!--end of center_content-->

    <div class="footer">

</div>

</div>


</body>
</html>

